$admin-navbar-glyphicon-background-color: #3a82e0;
$border-light-grey-color: #e8e8e8;
$form-error-message-color : #ab1818;
$form-input-focus-color: #87bae8;
$submit-button-background-color : #287bbc;
$text-black-color: #222;
