.admin-nav-sidebar {
	position: fixed;
	width: $admin-sidebar-width;
	height: 100%;
	background-color: $admin-nav-background-color;
	border-right: 1px solid $border-light-grey-color;

	.nav {
		.glyphicon {
			margin-right: 15px;
	    color: $admin-nav-glyphicon-color;
	  }

	  .dropdown-menu {
	  	position: inherit;
	  	-webkit-box-shadow: none;
	  	box-shadow: none;

	  	> .active > a {
	  		&,
				&:focus,
				&:hover {
					background-color: $admin-sidebar-hover-color;
				}
	  	}
	  }
	}

	.navbar-inverse {
		border-color: transparent;
		background-color: transparent;

		.navbar-nav {
			> li > a {
				color: #333;
			}

			> .active > a,
			> .open > a {
				&,
				&:focus,
				&:hover {
					background-color: $admin-sidebar-hover-color;
				}

				.glyphicon {
					color: #fff;
				}
			}
		}
	}

	.navbar-nav > li {
		float: none;

		> .dropdown-menu {
			margin-bottom: 12px;
		}
	}
}

.admin-route-content-wrapper {
	margin-left: $admin-sidebar-width + 20px;
}

.admin-list-of-users-table {
	td, th {
		border: 1px solid black;
		padding: 10px;
	}

	td {
		white-space: nowrap;
	}
}
