// Admin
$admin-nav-background-color: #f8f8f8;
$admin-nav-glyphicon-color: #3a82e0;
$admin-sidebar-hover-color: #506c96;
$admin-sidebar-width: 210px;

// Forms
$form-error-message-color : #ab1818;
$form-input-focus-color: #87bae8;

// General
$border-light-grey-color: #e8e8e8;
$submit-button-background-color : #287bbc;
$text-black-color: #222;
