<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
	<meta charset="UTF-8" />
	<title>Error</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="build/bundle.css"/>
</head>

<body>
	<h1 class="text-center" th:text="${errorStatus} + '. ' + ${errorMessage}"></h1>

	<div th:if="${isDebugMode}" class="text-center">
		<p th:text="'HTTP Error Status ' + ${debugError.httpStatus}"></p>
		<p th:text="'Timestamp ' + ${debugError.timestamp}"></p>
		<p th:text="'Error ' + ${debugError.error}"></p>
		<p th:text="'Error message ' + ${debugError.message}"></p>
		<p th:text="'Stack trace ' + ${debugError.trace}"></p>
	</div>
	<a class="text-center" href="/">Return home</a>

	<script src="build/bundle.js"></script>
</body>
</html>
